/*****************************/
/*        Basic setup        */
/*****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
/* heading */
h1{
   font-size: 32px;
   color: #fff;


}

/*****************************/
/*     Reusable componentsv  */ 
/*****************************/
.raw{
    max-width: 1140px;
    margin: auto;

}
.btn:link,
.btn:visited,
.btn{
    background: #333;
    border-bottom: 3px solid #000;
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 30px;


}

/*****************************/
/*       Header Section      */ 
/*****************************/
header{
    background: linear-gradient(#f7fafd,#fcfafaa4),url(../img/bc1.jpg);
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: cover;

    height: 100vh;
    position: relative;

}
/* logo design */
.logo{
    
    height: 100px;
    width: auto;
    margin-top:-10px;
    float: left;

}
 .logo-title{
    float: left;
    margin-top: 30px;
    margin-left: -33px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(23, 80, 117);
}
/* list customize */
ul li{
    list-style: none;
    
}
/* main nav design */
.main-nav{
    
    float: left;
    margin-top: 35px;
    margin-left: 50px;
    
 
}

.login a:link,
.login a:visited{
    margin-top: 35px;
    float: left;
    margin-left: 180px;
    text-decoration:none;
    background-color: rgb(68, 173, 173);
    padding: 6px 18px;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    transition: .2s;
    
    
}
.login a:hover{
    transform: scale(.95);
}
.main-nav li{
    
    display: inline-block;
    margin-left: 13px;

}
.main-nav li:first-child{
    margin-left: 115px;
    

}
.main-nav li .active2:link,
.main-nav li .active2:visited{  
    
    color:rgb(68, 173, 173);
    
}
.main-nav li a:link,
.main-nav li a:visited{
    color: rgb(109, 106, 106);
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    transition: .3s;
    font-weight: bold;

}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    color:rgb(68, 173, 173);
}

.hero-test-box{
    float: left; 
    position: absolute;
    top:200px;
    left: 150px;
    max-width: 350px;
    /*transform: translate(-50%, -20%);*/
    text-align: justify;
      
}
.hero-test-box h1{
    font-size: 24px;
    color: rgb(59, 58, 58);
}
.spn{
    color:rgb(68, 173, 173); 
}
.btn-hero:link,
.btn-hero:visited{
    background: rgb(68, 173, 173);
    border: rgba(2, 15, 15, 0.733);
    border-radius: 40px;
}
.btn{
    transition: .2s;
}
.btn:hover{
   transform: scale(.97);
}
.shop{
    float: left;
    margin-left: 30px;
    font-size: 20px;
    color:rgb(68, 173, 173) ;
    margin-top: 40px;
}
.gif img{
    float:left;
    margin-left: 620px;
    margin-top: 60px;
    width: 550px;
    height: auto;
    
}
.hr hr{
    background: rgb(68, 173, 173);
    width: 50px;
    height: 3px;

}
.pra2{
    margin-top: 12px;
    color: rgb(109, 106, 106);
}

